.container {
  padding: var(--mantine-spacing-md);
}

@media (min-width: $mantine-breakpoint-sm) {
  .container {
    padding: var(--mantine-spacing-xl);
  }
}

.nav {
  justify-content: center;
  gap: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-lg);
}

/* TanStack Router がアクティブなリンクに付与するグローバルなクラス */
.link:global(.active) {
  font-weight: 700;
}
