@import "tailwindcss";

@theme {
  --color-brand: #646cff;
  --color-brand-hover: #535bf2;
  --color-brand-hover-light: #747bff;
  --color-page: #ffffff;
  --color-page-dark: #242424;
  --color-ink: #213547;
  --color-ink-dark: rgb(255 255 255 / 87%);
  --color-button: #f9f9f9;
  --color-button-dark: #1a1a1a;
}
